In [3]:
import numpy as np
import pandas as pd

data = pd.read_csv('dataset11.csv')
data.head()

,bpm,pace,time,distance,dist_week,dist_month,dist_quater,dist_year,count_week,count_month,...,cold_month,cold_quater,cold_yeqr,puls_week,puls_month,puls_quater,puls_year,gap,temperature,weight
0,149,357,4305,12050,24290,157020,372590,1050700,2,11,...,20,63,213,60,60,60,60,2,20,77.3
1,147,363,4403,12120,26080,152920,372480,1038580,2,11,...,21,65,214,60,60,60,60,4,21,77.3
2,149,366,4468,12170,32310,168800,372320,1049630,2,12,...,23,64,215,60,60,60,60,3,24,78.6
3,153,374,5205,13910,51940,154890,381430,1047120,3,11,...,23,64,215,61,60,60,60,2,29,76.9
4,151,356,6564,18400,49110,136490,363030,1044230,3,10,...,23,65,216,61,60,60,60,3,22,76.7

In [4]:
print(data.shape)
print(data.isna().sum().sum())

(270, 39)
0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 39 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bpm            270 non-null    int64
 1   pace           270 non-null    int64
 2   time           270 non-null    int64
 3   distance       270 non-null    int64
 4   dist_week      270 non-null    int64
 5   dist_month     270 non-null    int64
 6   dist_quater    270 non-null    int64
 7   dist_year      270 non-null    int64
 8   count_week     270 non-null    int64
 9   count_month    270 non-null    int64
 10  count_quater   270 non-null    int64
 11  count_year     270 non-null    int64
 12  point_week     270 non-null    float64
 13  point_month    270 non-null    float64
 14  point_quater   270 non-null    float64
 15  point_year     270 non-null    float64
 16  steps_week     270 non-null    int64
 17  steps_month    270 non-null    int64
 18  steps_quater   270 non-null    int64
 19  steps_yeqr     270 non-null    int64
 20  PAI_week       270 non-null    int64
 21  PAI_month      270 non-null    int64
 22  PAI_quater     270 non-null    int64
 23  PAI_yeqr       270 non-null    int64
 24  weight_week    270 non-null    float64
 25  weight_month   270 non-null    float64
 26  weight_quater  270 non-null    float64
 27  weight_yeqr    270 non-null    float64
 28  cold_week      270 non-null    int64
 29  cold_month     270 non-null    int64
 30  cold_quater    270 non-null    int64
 31  cold_yeqr      270 non-null    int64
 32  puls_week      270 non-null    int64
 33  puls_month     270 non-null    int64
 34  puls_quater    270 non-null    int64
 35  puls_year      270 non-null    int64
 36  gap            270 non-null    int64
 37  temperature    270 non-null    int64
 38  weight         270 non-null    float64
dtypes: float64(9), int64(30)
memory usage: 82.4 KB

In [4]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error


X_train, X_test, y_train, y_test = train_test_split(
    data.drop('bpm', axis=1),
    data.bpm,
    test_size=0.15,
    random_state=42
)

scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

model = LinearRegression()

model.fit(X_train, y_train)
y_pred = model.predict(X_test)
y_train_pred = model.predict(X_train)

print("Test RMSE = %.4f" % np.sqrt(mean_squared_error(y_test, y_pred)))
print("Train RMSE = %.4f" % np.sqrt(mean_squared_error(y_train, y_train_pred)))

print('----------')
for i, coef in enumerate(model.coef_):
    print(f"Feature {i}: {coef:.4f}")

Test RMSE = 4.2510
Train RMSE = 3.1823
----------
Feature 0: -32.8589
Feature 1: 32.1810
Feature 2: -21.4418
Feature 3: 3.6806
Feature 4: 10.8370
Feature 5: -41.8341
Feature 6: -64.6231
Feature 7: -9.1600
Feature 8: -13.0976
Feature 9: 31.1500
Feature 10: 64.2697
Feature 11: -7.6941
Feature 12: 2.3380
Feature 13: 23.7172
Feature 14: -18.9692
Feature 15: 2.2583
Feature 16: -2.2489
Feature 17: -6.0220
Feature 18: 2.6930
Feature 19: -1.3985
Feature 20: 3.8018
Feature 21: 14.3548
Feature 22: -30.0935
Feature 23: 7.1318
Feature 24: 11.8532
Feature 25: -3.0548
Feature 26: -11.3263
Feature 27: 0.3832
Feature 28: -1.5559
Feature 29: -0.6747
Feature 30: 19.9012
Feature 31: -0.5063
Feature 32: 0.6893
Feature 33: 3.3136
Feature 34: 3.3167
Feature 35: -7.1668
Feature 36: 5.8882
Feature 37: -10.2194